* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Hind, sans-serif;
    font-size: 14px;
}

div {
    box-sizing: border-box;
}

/*
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
*/

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.address_block {
    background: #ededed;
    padding: 10px 0;
}

.logo_block {
    background: #fff;
    padding: 30px 0;
}

.slider_block {
    background: url(../img/Section-1-BG.png) no-repeat right top #000;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.logo {
    float: left;
}

nav {
    float: left;

}

.menu_block {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
}

.menu {
    display: block;
    margin-top: 5px;
}

.menu li {
    float: left;
    display: block;
    padding: 18px 16px 18px 16px;
    position: relative;
}

.menu a {
    font-family: Hind-Medium, sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.menu li:after {
    content: '';
    position: absolute;
    height: 7px;
    bottom: 0;
    left: 50%;
    background: #bd2631;
}

.menu li:first-child:after {
    width: 100%;
    margin-left: -50%;
}

.menu li:nth-child(n+2):after {
    width: 0;
    margin-left: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.menu li:nth-child(n+2):hover:after {
    width: 100%;
    margin-left: -50%;
}

.search_icon {
    float: right;
    color: white;
    font-size: 24px;
}

.checks {
    display: block;
    float: right;
    margin-top: 12px;
}

.check_item {
    display: block;
    float: left;
    min-width: 170px;
    padding-left: 19px;
}

.check_item_center {
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.check_item_text {
    display: block;
    float: left;
}

.check_item_icon {
    display: block;
    float: left;
    margin-right: 10px;
}

.item_text {
    color: #000;
    font-family: Hind-Bold, sans-serif;
}

.item_subtext {
    color: #7a7a7a;
}

.icons {
    float: right;
    display: block;
    margin-top: 6px;

}

.icons ul {
    list-style: none;
}

.icons li {
    float: left;
    display: block;
    margin-left: 22px;
}

.icons li:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

.icons a {
    text-decoration: none;
    color: #2e2e2e;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.icons a:hover {
    color: red;
}

.contacts {
    display: block;
    float: left;
    margin-top: 6px;
}

.contacts div {
    color: #565656;
    display: block;
    float: left;
    margin-left: 35px;
}

.semibold {
    font-family: Hind-Semibold, sans-serif;
}

.contacts i {
    color: #000;
}

.city_selector {
    color: #fff;
    background: #000;
    display: block;
    float: left;
    border-radius: 3px;
    padding: 7px 15px;
}

.slider_block {
    padding: 205px 0;
}

.slider_text_head {
    color: #bd2631;
    font-size: 32px;
    font-family: Hind-Bold, sans-serif;
}

.slider_text_text {
    color: #fff;
    font-size: 43px;
    font-family: Hind-Semibold, sans-serif;
}

.slider_text_subtext {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Hind-Medium, sans-serif;
}

.quote_block {
    display: block;
    background: #bd2631;
    padding: 24px 0;
}

.quote_text {
    display: block;
    float: left;
    color: #fff;
}

.quote_text_text {
    font-size: 30px;
    font-family: Hind-Light, sans-serif;
}

.quote_text_subtext {
    font-size: 24px;
    font-family: Hind-Light, sans-serif;
}

.quote_button {
    display: block;
    background: #ffffff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: #000;
    font-family: Hind-Bold, sans-serif;
    float: right;
    padding: 15px 30px;
    margin-top: 13px;
}