* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Hind, sans-serif;
    font-size: 14px;
}

div {
    box-sizing: border-box;
}

/*
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
*/

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.address_block {
    background: #ededed;
    padding: 10px 0;
}

.logo_block {
    background: #fff;
    padding: 30px 0;
}

.slider_block {
    background: url(../img/Section-1-BG.png) no-repeat right top #000;
}

.container {
    /*max-width: 1400px;*/
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}

.logo {
    float: left;
}

nav {
    float: left;

}

.menu_block {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    z-index: 1;
}

.menu {
    display: block;
    margin-top: 5px;
}

.menu li {
    float: left;
    display: block;
    padding: 21px 16px 21px 16px;
    position: relative;
}

.menu a {
    font-family: Hind-Medium, sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.menu li:after {
    content: '';
    position: absolute;
    height: 7px;
    bottom: 0;
    left: 50%;
    background: #bd2631;
}

.menu li:first-child:after {
    width: 100%;
    margin-left: -50%;
}

.menu li:nth-child(n+2):after {
    width: 0;
    margin-left: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.menu li:nth-child(n+2):hover:after {
    width: 100%;
    margin-left: -50%;
}

.search_form {
    float: right;
    margin-top: 19px;
}

.search_form:hover .search_textbox > input {
    width: 100%;
    background: #ededed;
}

.search_textbox {
    float: left;
    display: block;
    margin-right: 8px;
    margin-top: 5px;
}

.search_textbox input {
    background: transparent;
    color: #000;
    padding: 2px;
    width: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    float: right;
    border-color: transparent;
}

.search_icon {
    float: left;
    color: white;
    font-size: 24px;
}

.search_icon a {
    text-decoration: none;
    color: #fff;
}

.checks {
    display: block;
    float: right;
    margin-top: 12px;
}

.check_item {
    display: block;
    float: left;
    min-width: 170px;
    padding-left: 19px;
}

.check_item_center {
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.check_item_text {
    display: block;
    float: left;
}

.check_item_icon {
    display: block;
    float: left;
    margin-right: 10px;
}

.item_text {
    color: #000;
    font-family: Hind-Bold, sans-serif;
}

.item_subtext {
    color: #7a7a7a;
}

.icons {
    float: right;
    display: block;
    margin-top: 6px;

}

.icons ul {
    list-style: none;
}

.icons li {
    float: left;
    display: block;
    margin-left: 22px;
}

.icons li:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

.icons a {
    text-decoration: none;
    color: #2e2e2e;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.icons a:hover {
    color: red;
}

.contacts {
    display: block;
    float: left;
    margin-top: 6px;
}

.contacts div {
    color: #565656;
    display: block;
    float: left;
    margin-left: 35px;
}

.semibold {
    font-family: Hind-Semibold, sans-serif;
}

.contacts i {
    color: #000;
}

.city_selector {
    color: #fff;
    background: #000;
    display: block;
    float: left;
    border-radius: 3px;
    padding: 7px 15px;
}

.slider_block {
    /*padding: 205px 0;*/
    padding: 16vw 0 calc(16vw - 72px) 0;
    position: relative;
}

.slider_text_head {
    color: #bd2631;
    font-size: 32px;
    font-family: Hind-Bold, sans-serif;
}

.slider_text_text {
    color: #fff;
    font-size: 43px;
    font-family: Hind-Semibold, sans-serif;
}

.slider_text_subtext {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Hind-Medium, sans-serif;
}

.quote_block {
    display: block;
    background: #bd2631;
    padding: 24px 0;
}

.quote_text {
    display: block;
    float: left;
    color: #fff;
}

.quote_text_text {
    font-size: 30px;
    font-family: Hind-Light, sans-serif;
}

.quote_text_subtext {
    font-size: 24px;
    font-family: Hind-Light, sans-serif;
}

.quote_button {
    display: block;
    background: #ffffff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: #000;
    font-family: Hind-Bold, sans-serif;
    float: right;
    padding: 15px 30px;
    margin-top: 13px;
}

.arrow {
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: calc(50% - 25px);
}

.arrow_left {
    left: 4vw;
}

.arrow_right {
    right: 4vw;
}

.features_block {
    position: relative;
}

.feature_text-l,
.feature_text-r {
    width: 50%;
    height: 100%;
    display: block;
    /*border: 3px solid green;*/
    position: absolute;
    top: 0;
    padding: 10% 100px;
    -webkit-background-size: cover;
    background: no-repeat center center #000;
    background-size: cover;
}

.feature_text-l {
    left: 0;
}

.feature_text-r {
    right: 0;
}


.feature_text_1 {
    background-image: url(../img/img11.png);
}

.feature_text_2 {
    background-image: url(../img/img23.png);
}

.feature_text_3 {
    background-image: url(../img/img31.png);
}

.feature_text_block {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
    /*width: 80%;*/
    /*height: 30%;*/
}

.feature_text_block h2 {
    color: #bd2631;
    font-size: 24px;
    margin: 10px 0;
}

.feature_text_block p {
    color: #fff;
    line-height: 2;
}

.feature_pictures {
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 0;
    position: relative;
    max-height: 31vw;
    overflow: hidden;
}

.feature_pictures > div {
    width: 50%;
    height: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.feature_pictures img{
    width: 100%;
}

.icon-r,
.icon-l {
    position: absolute;
    top: 0;
}

.icon-r {
    right: 0;
}

.icon-l {
    left: 0;
}

.icon-r img,
.icon-l img {
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.bg_red {
    background: #bd2631;
}

.menu_button {
    color: white;
     display: none;
}

/*RESPONSIVE   */

@media screen and (max-width: 1160px) {
    .logo,
    .checks {
        float: none;
        display: inline-block;
        /*margin: 0 100px;*/
    }

    .logo_block {
        text-align: center;
    }
    .search_form:hover .search_textbox > input {
        width: 110px;
    }

    .contacts {
        float: none;
        padding-top: 35px;
        display: table;
        margin: 5px auto 0;
    }

    .contacts > div {
        margin-left: 0;
    }

    .icons {
        /*margin-left: 50px;*/
        position: absolute;
        top: 0;
        right: 10px;
    }

    .city_selector {
        position: absolute;
        top: 0;
        left: 0;
    }

    .logo_block {
        padding: 15px 0;
    }

    .quote_button {
        padding: 10px 15px;
    }

    .quote_text_text {
        font-size: 26px;
    }

    .quote_text_subtext {
        font-size: 18px;
    }

    .slider_text_head {
        font-size: 28px;
    }

    .slider_text_text {
        font-size: 36px;
    }

    .slider_text_subtext {
        font-size: 20px;
    }

    .slider_block {
        /*padding: 150px 0;*/
    }

    .feature_text-l,
    .feature_text-r {
        padding: 7% 35px;
    }

    .search_form:hover .search_textbox > input {
        display: none;
    }

}

@media screen and (max-width: 880px) {
    .logo, .checks {
        margin: 0;
    }

    .menu a {
        font-size: 14px;
    }

    .menu li {
        padding: 16px 10px;
    }

    .slider_block {
        padding: 16vw 0 calc(16vw - 59px) 0;
    }

    .slider_text_head {
        font-size: 24px;
    }

    .slider_text_text {
        font-size: 32px;
    }

    .slider_text_subtext {
        font-size: 16px;
    }

    .search_form {
        margin-top: 12px;
    }

    .container {
        max-width: 90%;
    }

    .arrow_left {
        left: 5px;
    }

    .arrow_right {
        right: 5px;
    }

    .quote_button {
        margin-top: 7px;
    }

    .quote_text_subtext {
        font-size: 16px;
    }

    .quote_text_text {
        font-size: 22px;
    }

    .quote_block {
        padding: 10px 15px;
    }

}

@media screen and (max-width: 720px) {
    .container {
        max-width: 98%;
    }

    .menu li {
        padding: 4px 8px;
    }

    .menu a {
        font-size: 12px;
    }

    .slider_block {
        padding: 16vw 0 calc(16vw - 35px) 0;
    }

    .search_icon {
        font-size: 20px;
    }

    .search_form {
        margin-top: 4px;
    }

    .slider_block {
        /*padding: 80px 0;*/
    }

    .slider_text {
        padding: 0 30px;
    }

    .slider_text_head {
        font-size: 20px;
    }

    .slider_text_text {
        font-size: 24px;
    }

    .slider_text_subtext {
        font-size: 14px;
    }

    .quote_button {
        padding: 4px 9px;
        font-size: 12px;
    }

    .quote_text_text {
        font-size: 20px;
    }

    .quote_text_subtext {
        font-size: 14px;
    }

    .quote_block {
        padding: 10px 15px;
    }

    .feature_text-l,
    .feature_text-r {
        position: static;
        width: 100%;
    }

    .feature_pictures {
        width: 100%;
        overflow: hidden;
    }

    .features_block > div {
        height: 220px;
    }

    .icon-r img, .icon-l img {
        width: 33%;
    }
}

@media screen and (max-width: 570px) {
    .check_item_center {
        border: 0;
    }

    .menu {
        display: none;
    }

    .menu_button {
        display: block;
        font-size: 20px;
    }

    .menu_button a {
        text-decoration: none;
        color: #fff;
    }

    .menu_button,
    .search_icon {
        margin: 5px;
        margin-bottom: 0;
    }

    .search_form {
        margin-top: 0;
    }

    .slider_text {
        line-height: 1.2;
    }

    .slider_text_head {
        font-size: 18px;
    }

    .slider_text_text {
        font-size: 20px;
    }

    .slider_text_subtext {
        font-size: 12px;
    }

    .quote_button {
        padding: 4px 4px;
        font-size: 12px;
        border-radius: 2px;
        margin-top: 4%;
    }

    .quote_text {
        width: 75%;
    }

    .quote_text_text {
        font-size: 16px;
    }

    .quote_text_subtext {
        font-size: 12px;
    }

    .quote_block {
        padding: 10px 15px;
    }

    .feature_text_block h2 {
        font-size: 20px;
        margin: 0;
    }

    .feature_text_block p {
        line-height: 2;
        font-size: 12px;
    }

    .feature_text-l, .feature_text-r {
        padding: 5% 35px;
    }

    .features_block > div {
        height: auto;
    }

    .logo img {
        width: 80%;
    }

    .logo_block {
        padding-bottom: 0;
    }

    .check_item_text {
        text-align: left;
    }
}

@media screen and (max-width: 390px) {
    .quote_button {
        font-size: 10px;
        margin-top: calc(5% + 5px);
    }

    .quote_text {
        width: 75%;
    }

    .quote_text_text {
        font-size: 14px;
    }

    .quote_text_subtext {
        font-size: 12px;
    }

    .quote_block {
        padding: 10px 15px;
    }

}

/* 320px - minimum width */